<style>
  div.container.p-4.pb-0{
    background-color: #343a40;
  }

  .container.full-width {
    width: 100%;
    max-width: 100%;
    background-color: #343a40;
    color: #ffffff;
    padding: 20px;
  }
  .my-5 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

    div.container.p-4.pb-0 {
    background-color: #343a40; /* Nền tối cho container */
  }

  .container.full-width {
    width: 100%;
    max-width: 100%;
    background-color: #343a40; /* Nền tối cho container */
    color: #ffffff; /* Màu chữ trắng */
    padding: 20px;
  }

  footer {
    background-color: #212529; /* Nền đen cho footer */
  }

  .text-white {
    color: #ffffff !important; /* Đảm bảo rằng chữ luôn màu trắng */
  }

  .btn-light {
    background-color: #f8f9fa; /* Nền của nút social media */
    color: #212529;
  }

  .btn-light:hover {
    background-color: #e2e6ea;
  }
</style>

<div class="container my-5 full-width">
  <footer class="text-center text-lg-start text-white" style="background-color: #343A40;">
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase fw-bold">Phòng Khám ABC</h5>
            <p>
              Chúng tôi cam kết mang đến dịch vụ y tế chuyên nghiệp với đội ngũ bác sĩ tận tâm và thiết bị hiện đại. Hãy đồng hành cùng chúng tôi để bảo vệ sức khỏe của bạn và gia đình.
            </p>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase fw-bold">Dịch Vụ</h5>
            <ul class="list-unstyled">
              <li><a href="#!" class="text-white">Khám Tổng Quát</a></li>
              <li><a href="#!" class="text-white">Tầm Soát Sức Khỏe</a></li>
              <li><a href="#!" class="text-white">Tư Vấn Chuyên Khoa</a></li>
              <li><a href="#!" class="text-white">Xét Nghiệm</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase fw-bold">Liên Hệ</h5>
            <ul class="list-unstyled">
              <li><a href="#!" class="text-white">Địa Chỉ</a></li>
              <li><a href="#!" class="text-white">Số Điện Thoại</a></li>
              <li><a href="#!" class="text-white">Email</a></li>
              <li><a href="#!" class="text-white">Hỗ Trợ Trực Tuyến</a></li>
            </ul>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0 text-center">
            <h5 class="text-uppercase fw-bold">Thời Gian Làm Việc</h5>
            <p>
              Thứ 2 - Thứ 7: 08:00 - 20:00 <br>
              Chủ Nhật: 08:00 - 12:00
            </p>
          </div>
        </div>
      </section>
      <hr class="mb-4" />
      <section class="mb-4 text-center">
        <a class="btn btn-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn btn-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn btn-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="btn btn-light btn-floating m-1" href="#!" role="button">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </section>
    </div>
  </footer>
</div>