<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ClinicApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            {% if current_user.is_authenticated and current_user.idBacSi %}
            <ul class="navbar-nav">
               <li class="nav-item">
                    <a class="nav-link" href="/lichkham">Lịch khám hôm nay</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/tracuuthuoc">Tra cứu thuốc</a>
                </li>
            </ul>
            {% elif current_user.is_authenticated and current_user.idYTa %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dsk_yta">Danh sách khám</a>
                </li>
            </ul>
            {% elif current_user.is_authenticated and current_user.idThuNgan %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/thanhtoan">Thanh toán</a>
                </li>
            </ul>
            {% elif current_user.is_authenticated and current_user.idBenhNhan %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dsk_benhnhan">Đặt lịch khám</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/thanhtoan">Thanh toán</a>
                </li>
            </ul>
            {% endif %}
            <!-- Đăng nhập - Đăng ký -->
            {% if current_user.is_authenticated %}
            <div class="dropdown navbar-nav ms-auto">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                    <img src="{{ current_user.avatar }}" width="25" class="rounded-circle">
                    Chào {{ current_user.username }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" id="TrangCaNhan" href="/trangcanhan">Trang cá nhân</a></li>
                    <li><a class="dropdown-item" id="logout" href="/logout">Đăng xuất</a></li>
                </ul>
            </div>
            {% else %}
            <div class="dropdown navbar-nav ms-auto">
                <button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown">
                    Chưa đăng nhập
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" id="login" href="/login">Đăng nhập</a></li>
                    <li><a class="dropdown-item" id="signup" href="/register">Đăng ký</a></li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</nav>