{% extends "layout/base.html" %}

{% block title %} Home {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

{% endblock %}

{% block content %}
<form>
    <section id="hero" class="d-flex flex-column justify-content-center align-items-center text-white py-5 bg-primary"
             style="background-image: url(https://res.cloudinary.com/dwivkhh8t/image/upload/v1733393358/banner_phongkham_txfvas.jpg); background-size: cover; background-position: center;">
        <h1 class="display-4 fw-bold" style="color: black;">Chào Mừng Đến Phòng Khám ABC</h1>
        <p class="lead" style="color: black;">Dịch vụ y tế chất lượng với đội ngũ bác sĩ chuyên nghiệp</p>
        {% if current_user.is_authenticated %}
        <a href="/datlichkham" class="btn btn-dark btn-lg mt-3 shadow-lg" id="btnDatLich">Đặt Lịch Khám</a>
        {% else %}
        <a href="javascript:void(0);" class="btn btn-light btn-lg mt-3 shadow-lg" id="scheduleButton">Đặt Lịch Khám</a>
        {% endif %}
    </section>

    <div id="appointmentModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2 class="text-center mb-4">Bạn cần đăng nhập hoặc đăng ký tài khoản</h2>
            <div class="text-center d-flex justify-content-center gap-2">
                <a href="/login" class="btn btn-dark">Đăng Nhập</a>
                <a href="/register" class="btn btn-light btn-outline-dark">Đăng Ký</a>
            </div>
        </div>
    </div>

    <section id="health-check" class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center mb-4">Lợi ích khi tham gia chương trình Tầm Soát Sức Khỏe</h2>

            <ul class="list-group text-center">
                <li class="list-group-item mb-3">
                    <strong>Nhanh & Tiện</strong>: Quy trình tầm soát bệnh chỉ mất 90 phút, giúp bạn tiết kiệm tối đa
                    thời gian chờ đợi.
                </li>

                <li class="list-group-item mb-3">
                    <strong>Bác Sĩ Tận Tâm</strong>: Đội ngũ bác sĩ dành thời gian giải thích chi tiết, giúp bạn hiểu rõ
                    về tình trạng sức khỏe của mình.
                </li>

                <li class="list-group-item mb-3">
                    <strong>Trang Thiết Bị Hiện Đại</strong>: Phát hiện sớm các nguy cơ sức khỏe tiềm ẩn, trước khi
                    chúng trở nên nghiêm trọng.
                </li>

                <li class="list-group-item mb-3">
                    <strong>Chăm Sóc Tận Tình</strong>: Trợ lý bác sĩ sẽ đồng hành cùng bạn trong suốt quá trình khám và
                    sau đó, giúp bạn duy trì sự khỏe mạnh.
                </li>

                <li class="list-group-item mb-3">
                    <strong>Chuyên Gia Hàng Đầu</strong>: Doctor Check kết nối bạn với các chuyên gia hàng đầu trong
                    trường hợp phát hiện ung thư, bệnh lạ, bệnh khó.
                </li>
            </ul>
        </div>
    </section>


    <section id="gallery" class="py-5">
        <div class="container text-center">
            <h2 class="mb-4">Hình Ảnh Phòng Khám</h2>
            <div class="row g-4">
                <div class="col-md-4">
                    <div class="gallery-item">
                        <img class="img-fluid rounded shadow-sm gallery-img"
                             src="https://res.cloudinary.com/dwivkhh8t/image/upload/v1733385867/phongkham1_pufuxt.png"
                             alt="Gallery 1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery-item">
                        <img class="img-fluid rounded shadow-sm gallery-img"
                             src="https://res.cloudinary.com/dwivkhh8t/image/upload/v1733385886/phongkham2_o1olu8.jpg"
                             alt="Gallery 2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gallery-item">
                        <img class="img-fluid rounded shadow-sm gallery-img"
                             src="https://res.cloudinary.com/dwivkhh8t/image/upload/v1733385895/phongkham3_maixvn.jpg"
                             alt="Gallery 3">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonials" class="py-5 bg-light">
        <div class="container">
            <h1 class="text-center mb-5 fw-bold">Đánh Giá Từ Bệnh Nhân</h1>
            <div class="row justify-content-center">
                {% if current_user.is_authenticated %}
                <div class="col-md-8">
                    <div class="card shadow-sm p-4 mb-4 border-0">
                    <textarea class="form-control shadow-none border-0" rows="4" id="comment" name="text"
                              placeholder="Hãy để lại ý kiến của bạn..." style="resize: none;"></textarea>
                        <button class="btn btn-primary mt-3 w-100 fw-bold shadow-sm" onclick="addComment(event)">Gửi
                            Bình Luận
                        </button>
                    </div>
                </div>
                {% else %}
                <div class="col-md-8 text-center">
                    <p class="lead">Vui lòng <a href="/login?next=/" class="text-primary fw-bold">đăng nhập</a> để bình
                        luận!</p>
                </div>
                {% endif %}
            </div>

            <div class="row" id="comments" style="max-height: 400px; overflow-y: auto;">
                {% for c in comments %}
                <div class="col-md-12 mb-3">
                    <div class="d-flex align-items-start shadow-sm p-4 bg-white rounded">
                        <img src="{{ c.user.avatar }}" alt="Avatar" class="rounded-circle me-3"
                             style="width: 60px; height: 60px; object-fit: cover;">
                        <div>
                            <div class="d-flex align-items-center mb-2">
                                <h6 class="mb-0 fw-bold text-primary me-2">{{ c.user.hoTen }}</h6>
                                <small class="text-muted date">{{ c.created_date }}</small>
                            </div>
                            <p class="text-secondary">{{ c.content }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% for c in list_comment %}
                <div class="media d-flex align-items-start shadow-sm p-3 mb-3 bg-white rounded">
                    <div class="media-left me-3">
                        <img src="{{ c.user.avatar }}" class="media-object rounded-circle"
                             style="width: 60px; height: 60px; object-fit: cover;">
                    </div>
                    <div class="media-body">
                        <div class="d-flex align-items-center mb-2">
                            <h6 class="media-heading mb-0 fw-bold me-2 text-primary">{{ c.user.hoTen }}</h6>
                            <small class="text-muted date">{{ c.created_date }}</small>
                        </div>
                        <p class="text-secondary">{{ c.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="footers">
        <div class="container py-5">
            <div class="lienhe text-center mb-4">
                <strong>LIÊN HỆ VỚI CHÚNG TÔI:</strong>
            </div>
            <div class="lienhe1 text-center mb-5">
                Cảm ơn bạn đã ghé thăm website. Nếu bạn muốn nhận được thông báo từ chúng tôi dễ dàng, hãy điền vào form
                dưới đây.
            </div>

            <div class="footer row">
                <div class="col-md-6 mb-4">
                    <div class="map-container">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3920.764100538581!2d106.68809457408616!3d10.675409961050816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31753100099ce9ed%3A0xdb6079801f0735ea!2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBN4bufIFRQLiBI4buTIENow60gTWluaCAoY8ahIHPhu58gMyk!5e0!3m2!1svi!2s!4v1730307399182!5m2!1svi!2s"
                                width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

                <div class="col-md-6 mb-4">
                    <div class="foot4s">
                        <div class="d-flex mb-3">
                            <input type="text" class="form-control me-2" placeholder="Nhập tên"/>
                            <input type="email" class="form-control" placeholder="Nhập email"/>
                        </div>
                        <div class="d-flex mb-3">
                            <input type="text" class="form-control me-2" placeholder="Chủ đề"/>
                            <input type="text" class="form-control" placeholder="Nội dung..."/>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</form>

<script>
    function addComment(event) {
        event.preventDefault();

        const comment = document.getElementById("comment").value;

        if (!comment) {
            alert("Nội dung bình luận không được để trống");
            return;
        }

        fetch(`/api/comments`, {
            method: "POST",
            body: JSON.stringify({ content: comment }),
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(res => {
            if (!res.ok) {
                throw new Error("Failed to add comment");
            }
            return res.json();
        })
        .then(c => {
            let html = `
                <div class="media d-flex align-items-start shadow-sm p-3 mb-3 bg-white rounded">
                    <div class="media-left me-3">
                        <img src="${c.user.avatar}" class="rounded-circle"
                             style="width: 60px; height: 60px; object-fit: cover; border: 2px solid #f0f0f0;">
                    </div>
                    <div class="media-body">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <h4 class="mb-0 fw-bold text-primary">${c.user.hoTen}</h4>
                            <small class="text-muted date">${c.created_date}</small>
                        </div>
                        <p class="mb-0 text-secondary">${c.content}</p>
                    </div>
                </div>
            `;

            const commentList = document.getElementById("comments");
            commentList.innerHTML = html + commentList.innerHTML;

            document.getElementById("comment").value = "";
        })
        .catch(error => {
            console.error("Error adding comment:", error);
            alert("Có lỗi xảy ra, vui lòng thử lại.");
        });
    }

    window.onload = function() {
        let dates = document.getElementsByClassName("date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow();
    }
</script>
{% endblock %}

{% block js %}
<script>
    document.getElementById('scheduleButton').addEventListener('click', function() {
        document.getElementById('appointmentModal').style.display = 'flex';
    });

    document.getElementById('closeModal').addEventListener('click', function() {
        document.getElementById('appointmentModal').style.display = 'none';
    });

    window.addEventListener('click', function(event) {
        if (event.target === document.getElementById('appointmentModal')) {
            document.getElementById('appointmentModal').style.display = 'none';
        }
    });
</script>
{% endblock %}