{% extends "layout/base.html" %}

{% block content %}
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-6 col-lg-5 col-xl-4">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-4 text-center">

            <div class="mb-md-4 mt-md-3 pb-3">

              <h2 class="fw-bold mb-3 text-uppercase" style="font-size: 1.8rem;">ĐĂNG KÝ</h2>
              <p class="text-white-50 mb-4" style="font-size: 0.9rem;">Đăng ký tài khoản!</p>

              <div data-mdb-input-init class="form-outline form-white mb-3">
                <label class="form-label" for="name">Họ và tên</label>
                <input type="text" id="name" class="form-control form-control-lg" style="font-size: 0.9rem;" />
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-3">
                <label class="form-label" for="username">Tài khoản</label>
                <input type="text" id="username" class="form-control form-control-lg" style="font-size: 0.9rem;" />
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-3">
                <label class="form-label" for="password">Mật khẩu</label>
                <input type="password" id="password" class="form-control form-control-lg" style="font-size: 0.9rem;" />
              </div>


              <div data-mdb-input-init class="form-outline form-white mb-3">
                <label class="form-label" for="confirm">Xác nhận mật khẩu</label>
                <input type="password" id="confirm" class="form-control form-control-lg" style="font-size: 0.9rem;" />
              </div>

              <div data-mdb-input-init class="form-outline form-white mb-3">
                <label for="avatar">Ảnh đại diện</label>
                <input type="file" class="form-control form-control-lg" id="avatar" style="font-size: 0.9rem;" name="avatar"/>
              </div>

              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-light btn-sm px-4" type="submit">Đăng ký</button>

            </div>

            <div>
              <p class="mb-0" style="font-size: 0.9rem;">Đã có tài khoản? <a href="/login" class="text-white-50 fw-bold">Đăng nhập</a>
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}