<div>
    <div id="hosobenhnhan" class="hosobenhnhan">
        <h2 class="text-center " style="padding: 2rem">HỒ SƠ BỆNH NHÂN</h2>
        <!--thong tin benh nhan-->
        <button id="toggleButton" onclick="toggleSidebar()">xem hồ sơ bệnh nhân</button>
        <div class="container">
            {% if hosobenhnhan %}
            <div class="row align-items-center justify-content-around thongtin" style="padding: 1rem;">
                <h4>Thông tin</h4>
                <div class="col-md-7">
                    <div class="row">
                        <div class="col-md-8">Họ và tên: <b>{{ hosobenhnhan.hoTen }}</b></div>
                        <div class="col-6 col-md-4"><b>ID Bệnh nhân: {{ hosobenhnhan.idBenhNhan }}</b></div>
                    </div>
                    <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                    <div class="row">
                        <div class="col-6 col-md-4">Năm sinh: {{ hosobenhnhan.ngaySinh }}
                        </div>
                        <div class="col-6 col-md-4">Giới tính: {{'Nam' if hosobenhnhan.gioiTinh else 'Nữ'
                            }}
                        </div>
                        <div class="col-6 col-md-4">Hồ sơ số: <b>{{ hosobenhnhan.idHoSo }}</b></div>
                    </div>

                    <!-- Columns are always 50% wide, on mobile and desktop -->
                    <div class="row">
                        <div class="col-8">Địa chỉ: {{ hosobenhnhan.diaChi }}</div>
                        <div class="col-4">Tình trạng: {{ hosobenhnhan.tinhTrang }}</div>
                    </div>
                </div>
                <div class="col-md-2">
                    <img class="img-responsive"
                         src="{{ hosobenhnhan.avatar }}"
                         alt="Chania" width="120" height="160">
                </div>
            </div>
            <div class="container" style="padding: 1rem; background: darkgray">
                <h4 class="text-center" style="padding: 1rem">LỊCH SỬ KHÁM BỆNH</h4>
                <div style="padding: 1rem;">
                    <input class="form-control" id="searchHistory" type="text" placeholder="Search.."
                           style="width: 50%">
                </div>
                {% if lichSuKhamBenh %}
                <table class="table text-centre table-striped" id="History">
                    <thead>
                    <tr>
                        <th style="width: 10%">Ngày</th>
                        <th>Thông tin phiếu khám</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for phieuKham in lichSuKhamBenh %}
                    <tr style="background: aliceblue; padding: 1rem;">
                        <td>{{ phieuKham.ngayTao }}</td>
                        <td style="background: unset;">
                            <div class="container">
                                <div class="container">
                                    <div class="row align-items-center justify-content-around thongtin"
                                         style="padding: 1rem;">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <div class="col-md-8">Bác sĩ: <b>{{ phieuKham.hoTen }}</b></div>
                                                <div class="col-6 col-md-4"><b>ID Nhân Viên: {{ phieuKham.id_bacsi
                                                    }}</b></div>
                                            </div>

                                            <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                                            <div class="row">
                                                <div class="col-6 col-md-4">Năm sinh: {{
                                                    phieuKham.ngaySinh }}
                                                </div>
                                                <div class="col-6 col-md-4">Giới tính: {{phieuKham.gioiTinh }}
                                                </div>
                                                <div class="col-6 col-md-4">Chuyên Khoa: {{ phieuKham.chuyenKhoa }}
                                                </div>
                                            </div>

                                            <!-- Columns are always 50% wide, on mobile and desktop -->
                                            <div class="row">
                                                <div class="col-6"></div>
                                                <div class="col-6"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <img class="img-responsive"
                                                 src="{{ phieuKham.avatar }}"
                                                 alt="Chania" width="120" height="160">
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class=" flex-row-2 d-flex justify-content-around container">
                                        <div class="container">
                                            <h4 class="text-center" style="padding: 0.5rem;">Thông tin chẩn đoán</h4>
                                            <div class="d-flex justify-content-around">
                                                <div>
                                                    <div class="" style="width: 21rem">
                                                        <label for="" class="form-label fw-bold">Triệu
                                                            chứng</label>
                                                        <textarea class="form-control" placeholder="Nhập triệu chứng"
                                                                  id=""
                                                                  style="max-height: 4.8rem"
                                                                  readonly>{{ phieuKham.trieuChung }}</textarea>
                                                    </div>
                                                </div>
                                                <div class="" style="width: 21rem">
                                                    <label for="" class="form-label fw-bold">Chẩn đoán</label>
                                                    <textarea class="form-control" placeholder="Nhập chẩn đoán"
                                                              style="max-height: 4.8rem"
                                                              readonly>{{ phieuKham.chanDoan }}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <h4 class="text-center" style="padding: 0.5rem;">Toa thuốc</h4>
                                        {% if phieuKham.donThuoc %}
                                        <div class="container mt-4">
                                            <!-- Prescription Table -->
                                            <table class="table table-hover align-middle">
                                                <thead class="table-light">
                                                <tr>
                                                    <th style="width: 5%;">STT</th>
                                                    <th style="width: 30%;">Tên Thuốc</th>
                                                    <th style="width: 13%;">Đơn Vị</th>
                                                    <th style="width: 13%;">Số Lượng</th>
                                                    <th style="width: 30%;">Cách Dùng</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <!-- Row 1 -->
                                                {% for thuoc in phieuKham['donThuoc'] %}
                                                <tr>
                                                    <td>{{ thuoc.stt }}</td>
                                                    <td>
                                                        {{ thuoc.tenThuoc }}
                                                    </td>
                                                    <td>
                                                        {{ thuoc.loaiThuoc }}
                                                    </td>
                                                    <td>
                                                        {{ thuoc.soLuongThuoc }}
                                                    </td>
                                                    <td>
                                                        {{ thuoc.huongDanSuDung }}
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                        {% else %}
                                        <h4 class="text-center" style="padding: 1rem">PHIẾU KHÁM NÀY KHÔNG CÓ ĐƠN
                                            THUỐC</h4>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4 class="text-center" style="padding: 1rem">BỆNH NHÂN CHƯA CÓ PHIẾU KHÁM NÀO</h4>
                {% endif %}
            </div>
            {% else %}
            <h2 class="text-center " style="padding: 2rem">HỒ SƠ BỆNH NHÂN TRỐNG</h2>
            {% endif %}
        </div>
    </div>
</div>
