<div class=" container">
    <h2 class="text-center" style="padding-top: 2rem;">LẬP PHIẾU KHÁM</h2>
    <div class="container">
        <div class="row align-items-center justify-content-around thongtin" style="padding: 1rem;">
            <h4>Thông tin bệnh nhân</h4>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-8">Họ và tên: <b>Trần Văn A</b></div>
                    <div class="col-6 col-md-4"><b>ID Bệnh nhân: 243434</b></div>
                </div>
                <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
                <div class="row">
                    <div class="col-6 col-md-4">Năm sinh: 01/01/1999</div>
                    <div class="col-6 col-md-4">Giới tính: Nữ</div>
                    <div class="col-6 col-md-4"></div>
                </div>

                <!-- Columns are always 50% wide, on mobile and desktop -->
                <div class="row">
                    <div class="col-8">Địa chỉ: Ấp Bến Chò, Thạnh Đức, Gò Dầu, Tây Ninh</div>
                    <div class="col-2"></div>
                </div>
            </div>
            <div class="col-md-2">
                <img class="img-responsive"
                     src="https://res.cloudinary.com/dwivkhh8t/image/upload/v1733385867/phongkham1_pufuxt.png"
                     alt="Chania" width="120" height="160">
            </div>
            <div class="col-md-2 align-self-end">
                <button type="button" class="btn btn-info ">Đổi thông tin</button>
            </div>
        </div>
    </div>

    <div class=" flex-row-2 d-flex justify-content-around container">
        <div class="container chandoan">
            <h4 class="text-center">Thông tin chẩn đoán</h4>
            <div>
                <form>
                    <div class="mb-3">
                        <label for="dateInput" class="form-label fw-bold">Ngày chẩn khám</label>
                        <div class="input-group" style="width: 20rem">
                            <span class="input-group-text"></span>
                            <input type="date" id="dateInput" class="form-control">
                        </div>
                    </div>
                </form>
                <div class="mb-3">
                    <label for="dateInput" class="form-label fw-bold">Triệu chứng</label>
                    <div class="form-floating">
                                <textarea class="form-control" placeholder="Nhập triệu chứng" id="trieuchungInput"
                                          style="height: 4.8rem"></textarea>
                        <label for="trieuchungInput">Nhập triệu chứng...</label>
                    </div>
                </div>
                <form>
                    <div class="mb-3">
                        <label for="dateInput" class="form-label fw-bold">Chẩn đoán</label>
                        <div class="form-floating">
                                <textarea class="form-control" placeholder="Nhập triệu chứng" id="chandoanInput"
                                          style="height: 4.8rem"></textarea>
                            <label for="chandoanInput">Nhập chẩn đoán...</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="container">
            <h4 class="text-center">Toa thuốc</h4>
            <div class="container mt-4">
                <!-- Search Input -->
                <div class="mb-3 text-end">
                    <input type="text" class="form-control d-inline-block w-50"
                           placeholder="Nhập tên thuốc">
                </div>

                <!-- Prescription Table -->
                <table class="table text-center table-hover align-middle">
                    <thead class="table-light">
                    <tr>
                        <th style="width: 5%;">STT</th>
                        <th style="width: 30%;">Tên Thuốc</th>
                        <th style="width: 13%;">Đơn Vị</th>
                        <th style="width: 13%;">Số Lượng</th>
                        <th style="width: 30%;">Cách Dùng</th>
                        <th style="width: 10%;"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- Row 1 -->
                    <tr>
                        <td>1</td>
                        <td>
                            <input type="text" class="form-control" placeholder="Nhập tên thuốc">
                            <div id="suggestions" class="suggestions"></div>
                        </td>
                        <td>
                            <select class="form-select">
                                <option>Vỉ</option>
                                <option>Chai</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select">
                                {% for i in rang(30) %}
                                <option>i</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control" placeholder="">
                        </td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="fa fa-times"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- Row 2 -->
                    </tbody>
                </table>

                <!-- Add Button -->
                <div class="text-center my-3">
                    <button class="btn btn-primary">
                        <i class="fa fa-plus"></i> Thêm
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>