{% extends 'lapphieukham.html' %}
{% block content %}
<div class="container p-5 my-5">
    <h2>Tra cứu thuốc</h2>
    <p>Nhập thông tin thuốc muốn tìm</p>
    <input class="form-control" id="myInput" type="text" placeholder="Search..">
    <br>
    <table class="table table-bordered table-striped text-break">
        <thead>
        <tr>
            <th style="width: 40%;">Tên Thuốc</th>
            <th style="width: 10%;"><i>Đơn Vị</i></th>
            <th style="width: 40%;">Cách dùng</th>
        </tr>
        </thead>
        <tbody id="myTable">
        {% if dsthuoc %}
        {% for thuoc in dsthuoc %}
        <tr>
            <td>{{ thuoc.tenThuoc }}</td>
            <td><i>{{ thuoc.loaiThuoc }}</i>
            </td>
            <td>{{ thuoc.huongDanSuDung }}</td>
        </tr>
        {%endfor%}
        {% endif%}
        </tbody>
    </table>
    <p></p>
</div>
{% endblock %}

